[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = {extras = ["tls"], version = "*"}
python-dotenv = "*"
dnspython = "*"
adafruit-circuitpython-pct2075 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
