[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
pymongo = {extras = ["tls"], version = "*"}
python-dotenv = "*"
dnspython = "*"

[dev-packages]

[requires]
python_version = "3.8"
