.App {
  text-align: center;
  background-color: #263238;
  min-height: 100vh; 
  font-size: calc(10px + 2vmin);
  color: #455a64;
}

hr {
  height: 2px;
  border: none;
  background-color: #455a64
}

h1 {
  margin: 0;
}

.inside {
  color: #5c6bc0;
  margin: 0;
}

.outside {
  color: #43a047;
  margin: 0;
}